html{
    background-color: black;
    scroll-behavior: smooth;
}
.app-headerMain{
    display: inline-flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 3px solid #59FF00;
    width: 100%;
    justify-content: start;
    align-items: center;
    z-index: 100;
    position: relative;
    background-color: black;
}
.app-headerIco{
    margin-left: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.app-menuSelectors{
    display: inline-flex;
    justify-content: space-between;
    color: white;
    font-family: "Proxima Soft Black";
    font-size: 25px;
    margin-left: 20vh;
    text-decoration: none;
}
.app-menuSelector{
    margin-left: 5vh;
    color: white;
    text-decoration: none;
}
.app-menuGetPartner{
    color: white;
    font-size: 25px;
    font-family: "Proxima Soft Black";
    border: 3px solid white;
    border-radius: 30px;
    margin-left: 80vh;
}
.app-menuGetPartner p{
    margin: 1vh;
}
.app-bodyHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -2vh;
}
.app-bodyGoodsArea{
    display: inline-flex;
    flex-wrap: wrap;
    background-image: url("backgrounds/back.png");
    width: 100%;
    height: 85vh;
    overflow:scroll;
}
.app-bodyGoodsArea::-webkit-scrollbar{
    display: none;
}
.app-bodyGoods{
    display: inline-flex;
    border: 3px solid #59FF00;
    height: fit-content;
    background-color: black;
    border-radius: 20px;
    margin-top: 5vh;
    margin-left: 2vh;
    margin-bottom: 5vh;
    width: fit-content;
}
.app-goodImg{
    display: flex;
    width: 30vh;
    height: 30vh;
    border-radius: 15px;
}
.app-goodsDescriptionTitle{
    display: flex;
    width: 30vh;
    font-size: 20px;
    font-family: "Proxima Soft Black";
    color: white;
    margin-left: 2vh;
}
.app-goodsDescription{
    display: flex;
    width: 30vh;
    font-size: 15px;
    font-family: "Proxima Soft Black";
    color: white;
    margin-left: 2vh;
}
.app-bodyServices{
    display: inline-flex;
    justify-content: space-between;
    align-items: start;
    border-radius: 20px;
    border: 3px solid #59FF00;
    background-color: black;
    width: 99.7%;
    height: 50vh;
    margin-top: -2vh;
}
.app-bodyServicesFirstColumn{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 1vh;
}
.app-bodyServicesFirstColumnTitle{
    color: white;
    font-size: 50px;
    font-family: "Proxima Soft Black";
    margin-bottom: 0;
}
.app-bodyServicesFirstColumnItem{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.app-bodyServicesFirstColumnItemText{
    color: white;
    font-family: "Proxima Soft Black";
    font-size: 35px;
    margin-left: 1vh;
}
.app-bodyServicesSelection{
    width: 50vh;
    height: 4vh;
    margin-left: 1vh;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "Proxima Soft Black";
    font-size: 22px;
}
.app-bodyServicesSelectionGroup{
    color: #59FF00;
}
.app-bodyServicesSelectionOpt{
    color: white;
}
.app-bodyServicesSelection::-moz-selection{
    border: 1px solid greenyellow;
}
.app-bodyServicesSelectionCount{
    background-color: black;
    margin-left: 1vh;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 20px;
}
.app-bodyServicesGetGood{
    width: 50vh;
    height: 5vh;
    color: white;
    border-color: white;
    background-color: black;
    border-radius: 20px;
    font-size: 25px;
    font-family: "Proxima Soft Black";
    margin-top: 8vh;
}
.app-bodyServicesSecondColumn{
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 100%;
    border-radius: 20px;
    border: 3px solid #59FF00;
    overflow: scroll;
}
.app-bodyServicesSecondColumnTitle{
    font-family: "Proxima Soft Black";
    font-size: 50px;
    margin-left: 1vh;
    margin-top: 0;
    color: white;
}
.app-bodyServicesSecondColumnItem{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-family: "Proxima Soft Black";
    color: white;
    margin-left: 1vh;
    margin-bottom: 1vh;
    border-radius: 20px;
    border: 1px solid #59FF00;
    padding: 1vh;
}
.app-bodyServicesSecondColumn::-webkit-scrollbar {
    display: none;
}
.app-footerMain{
    display: inline-flex;
    align-items: start;
    width: 100%;
    margin-top: 2vh;
}
.app-footerfirstColumn{
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
    border-right: 3px solid #59FF00;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -2vh;
    padding-right: 10vh;
}
.app-footerSecondColumn{
    display: flex;
    margin-top: 3vh;
    flex-direction: column;
    margin-left: 105vh;
    border-left: 3px solid #59FF00;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 2vh;
}
.app-footerContactsitem{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    margin-top: -3vh;
    margin-bottom: 0;
    margin-left: 1vh;
}