.Service-header {
    border-bottom: 1px solid rgba(0,0,0,10%);
    min-height: 8vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.Service-headerLogo{
    display: flex;
    margin-left: 5%;
}
.Service-headerTextArea{
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}
.Service-headerText{
    font-size: 20px;
    display: inline-flex;
}
.Service-headerTextAreaBlock{
    margin-right: 30px;
}
.Service-headerTextIco{
    max-width: 1vh;
    display: inline-flex;
    margin-left: 10px;
}
.Service-eventIcoBlock{
    display: flex;
    margin-right: 8%;
}
.Service-headerEventIco{
    margin-left: 10px;
    min-width: 3vh;
}